.actions.d-flex.justify-content-center {
  padding: 0 .5rem;
}
.miniTable .actions.d-flex.justify-content-around a {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.colunaHead {
  margin-bottom: .7rem;
  font-size: 23px;
  color: #FFF;
  text-align: center;
  position: relative;
  bottom: 3%;
}
.form-group.row.mb-3.product {
  margin-top: 2%;
}
.row.justify-content-end button.btn {
  width: 20%;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
}
.remove {
  display: none;
}
.add {
  display: flex;
}
.btn-whats {
  background-color: #38b553;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
label.me-3 {
  color: #FFF;
}
input.form-check-input {
  margin-top: 0px;
}
label.form-check-label.ms-2 {
  font-size: 18px;
}
